*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', sans-serif;
}
body {
    background: linear-gradient(#81b29a, #fcbf49);
    text-shadow: 0 0 2px black;
    color: #003049;
}
.hero-section{
    text-align: center;
}

#hero-image {
    border-radius: 50%;
    margin: 20px;
    transition: all 0.5s ease-in-out;
    border: 10px #fcbf49 solid;
}
#hero-image:hover {
    transform: scale(1.1);
}

#hero-heading {
    margin: 32px;
}

#hero-sub-heading {
    margin-bottom: 30px;
}

.highlight{
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #fcbf49;
}

.gift-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-hover-msg {
    margin: 20px 0;
}

.gift-hover-image {
    transition: all 0.5s ease-in-out;
    border: 5px solid #eae2b7;
    border-radius: 5px;
    background-image: url("./gift-cover.jfif");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
}

#gift-hover-image-one:hover{
    background-image: url("./happy.webp");
}

#gift-hover-image-two:hover{
    background-image: url("./hot.gif");
}

#gift-hover-image-three:hover{
    background-image: url("./genius.gif");
}

#gift-hover-image-four:hover{
    background-image: url("./cheers.gif");
}
